<div class="container">
  <div class="row front-header">
    <div class="content">
      <h1><%= config.title %></h1>
      <p>
          Hey! 👋 I’m Filip and I’m a software engineer. I write and nurture good code, best practices, and maintainable software. Mostly working with the JavaScript ecosystem.
      </p>
    </div>
  </div>

  <div class="content">
    <h2>The Daily Grind</h2>
    <p>I work at Amazon (FinTech) and I’m based in Amsterdam, Netherlands. Over the years I’ve worked on some awesome projects for some really cool companies.</p>
    <div>
      <a href="https://www.amazon.com/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/amazon.png" alt="" /> Amazon
      </a>
      <a href="https://spicefactory.co/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/spicefactory.png" alt="" /> SpiceFactory
      </a>
      <a href="http://z9security.com/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/z9security.png" alt=""/> Z9 Security
      </a>
      <a href="https://zktecousa.com/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/zkteco.png" alt=""/> ZKTeco
      </a>
      <a href="https://konceptapp.com/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/koncept.png" alt=""/> KonceptApp
      </a>
      <a href="https://sava.events/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/savaevents.png" alt=""/> Sava Events
      </a>
      <a href="https://ospitek.us/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/ospitek.png" alt=""/> Ospitek
      </a>
      <a href="https://cognito.spicefactory.co/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/cognito.png" alt=""/> Cognito
      </a>
      <a href="https://www.packtpub.com/books/info/authors/filip-danic" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/packt.png" alt=""/> Packt
      </a>
    </div>
  </div>

  <div class="content">
    <h2>Courses and Videos</h2>
    <p>I’ve published two course via Packt Publishing. Both are designed for newcomers who are just joining the industry or branching off from other IT roles. I also post videos on YouTube and Twitch from time to time.</p>
    <div>
      <a href="https://www.packtpub.com/web-development/hands-web-development-react-video" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/packt.png" alt=""/> Hands-On Web Development with React
      </a>
      <a href="/2018/hands-on-web-development-with-react-course" class="link-tag">Blog Post</a>
    </div>
    <div>
      <a href="https://www.packtpub.com/web-development/hands-mern-stack-web-development-video" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/packt.png" alt=""/> Hands-On MERN Stack Web Development
      </a>
      <a href="/2019/hands-on-mern-stack-web-development-course" class="link-tag">Blog Post</a>
    </div>
    <div>
      <a href="https://www.youtube.com/watch?v=5Vhbo9Mloew&list=PLtzWdT8JUrMYWlSoXvs4E3SrSEn8W68xN" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/youtube.png" alt=""/> Learn React by Building a Dungeons and Dragons App!
      </a>
    </div>
  </div>

  <div class="content">
    <h2>Speaking</h2>
    <p>I like to speak at conferences and meetups. Sharing knowledge and meetings new people is exciting! Interested in having me speak at your event? <a href="/speaking">Read more about my past experience.</a></p>
    <h3>I’ve Spoken At</h3>
    <div>
      <a href="https://heapcon.io/speakers/filip-danic/its-time-to-reinvent-the-web-without-the-internet/" target="_blank" class="link-tag" rel="noopener noreferrer" title="Heapcon 2019">
        Heapcon 2019
      </a>
      <a href="https://www.instagram.com/p/ByH8bfjBpmr/" target="_blank" class="link-tag" rel="noopener noreferrer">
        INAT Summit 2019
      </a>
      <a href="https://belgrade.voxxeddays.com/speakers/filip-danic" target="_blank" class="link-tag" rel="noopener noreferrer">
        Voxxed Days Belgrade 2017
      </a>
      <a href="https://www.meetup.com/SuperAdmins/" target="_blank" class="link-tag" rel="noopener noreferrer">
        Super Admins
      </a>
      <a href="https://www.meetup.com/Practical-UX/" target="_blank" class="link-tag" rel="noopener noreferrer">
        Practical UX
      </a>
      <a href="https://devdays.lt/" target="_blank" class="link-tag" rel="noopener noreferrer">
        DevDays Vilnius 2017
      </a>
      <a href="http://www.umrezavanje.rs/" target="_blank" class="link-tag" rel="noopener noreferrer">
        Umrežavanje
      </a>
      <a href="https://belgrade.voxxeddays.com/16/talk/235/" target="_blank" class="link-tag" rel="noopener noreferrer">
        Voxxed Days Belgrade 2016
      </a>
    </div>
  </div>

  <div class="content">
    <h2>Writing</h2>
    <% page.posts.limit(5).each(function(post){ %>
      <div class="post-card">
        <p class="date-info"><%= date(post.date, config.date_format) %></p>
        <p>
          <a href="<%- url_for(post.path) %>">
            <%= post.title %>
          </a>
        </p>
      </div>
    <% }) %>
    <p class="text-small"><a href="/writing" title="All essays">See all essays.</a></p>
  </div>

  <div class="content">
    <h2>Open Source</h2>
    <p>I make hundreds of contributions to open source each year, but I still feel I could make a bigger impact than I currently am. The problem of funding in the OSS community is known issue and I’m still searching for a solution of my own.</p>
    <h3>Orgs I’ve Contributed To</h3>
    <div>
      <a href="https://github.com/reactjs" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/react.png" alt=""/> React Community
      </a>
      <a href="https://github.com/yahoo" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/yahoo.png" alt=""/> Yahoo Inc.
      </a>
      <a href="https://github.com/facebook" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/facebook.png" alt=""/> Facebook
      </a>
      <a href="https://github.com/30-seconds" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/30seconds.png" alt=""/>  30 seconds
      </a>
      <a href="https://github.com/reach" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/reach.png" alt=""/> Reach
      </a>
      <a href="https://github.com/zeit" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/zeit.svg" alt=""/> ZEIT
      </a>
      <a href="https://github.com/spfr" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/spicefactory.png" alt=""/> SpiceFactory
      </a>
      <a href="https://github.com/Giftbit" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/giftbit.png" alt=""/> Giftbit
      </a>
      <a href="https://github.com/HeapSpace" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/heapspace.png" alt=""/> HeapSpace
      </a>
      <a href="https://github.com/KIProtect" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/KIProtect.png" alt=""/> KIProtect
      </a>
    </div>
    <h3>Packages I’ve Published</h3>
    <div>
      <a href="https://filipdanic.github.io/use-localstorage-hook/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/use-localstorage-hook.png" alt=""/> use-localstorage-hook
      </a>
      <a href="https://filipdanic.github.io/use-connection/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/use-connection.png" alt=""/> use-connection
      </a>
      <a href="https://filipdanic.github.io/use-object/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/use-object.png" alt=""/> use-object
      </a>
      <a href="https://filipdanic.github.io/use-array/" target="_blank" class="link-tag" rel="noopener noreferrer">
        <img src="css/images/use-array.png" alt=""/> use-array
      </a>
      <a href="https://github.com/filipdanic/spicy-datatable" target="_blank" class="link-tag" rel="noopener noreferrer">
        spicy-datatable
      </a>
      <a href="https://github.com/filipdanic/compact-timezone-list" target="_blank" class="link-tag" rel="noopener noreferrer">
        compact-timezone-list
      </a>
      <a href="https://github.com/filipdanic/json2csvexporter" target="_blank" class="link-tag" rel="noopener noreferrer">
        json2csvexporter
      </a>
      <a href="https://github.com/filipdanic/get-nested-value" target="_blank" class="link-tag" rel="noopener noreferrer">
        get-nested-value
      </a>
      <a href="https://github.com/filipdanic/spwolf" target="_blank" class="link-tag" rel="noopener noreferrer">
        spwolf
      </a>
      <a href="https://github.com/filipdanic/is-of-type" target="_blank" class="link-tag" rel="noopener noreferrer">
        is-of-type
      </a>
      <a href="https://github.com/filipdanic/matchcase" target="_blank" class="link-tag" rel="noopener noreferrer">
        functional-match-case
      </a>
      <a href="https://github.com/filipdanic/matchcase" target="_blank" class="link-tag" rel="noopener noreferrer">
        functional-match-case
      </a>
      <a href="https://github.com/filipdanic/with-prefix" target="_blank" class="link-tag" rel="noopener noreferrer">
        with-prefix
      </a>

      <a href="https://github.com/filipdanic/is-non-empty-array" target="_blank" class="link-tag" rel="noopener noreferrer">
        is-non-empty-array
      </a>
      <a href="https://github.com/filipdanic/execute-if-function" target="_blank" class="link-tag" rel="noopener noreferrer">
        execute-if-function
      </a>
      <a href="https://github.com/filipdanic/verify-facebook-request-signature" target="_blank" class="link-tag" rel="noopener noreferrer">
        verify-facebook-request-signature
      </a>
      <a href="https://github.com/filipdanic/get-random-in-range" target="_blank" class="link-tag" rel="noopener noreferrer">
        get-random-in-range
      </a>
      <a href="https://github.com/filipdanic/listify-messenger-webhook-events" target="_blank" class="link-tag" rel="noopener noreferrer">
        listify-messenger-webhook-events
      </a>
    </div>
  </div>
</div>

<%- partial('navigation-footer') %>
